In [7]:
import pandas as pd                    # imports pandas and calls the imported version 'pd' 
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()  
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf

In [8]:
df_layoffs = pd.read_csv("layoffs.csv")
df_layoffs.dropna()

,company,industry,total_laid_off,percentage_laid_off,date,country,funds_raised_mil
2,10X Genomics,Healthcare,100.0,0.08,8/4/2022,United States,242.0
3,1stdibs,Retail,70.0,0.17,4/2/2020,United States,253.0
4,23andMe,Healthcare,75.0,0.09,6/9/2023,United States,1100.0
5,23andMe,Healthcare,71.0,0.11,8/8/2023,United States,1100.0
7,54gene,Healthcare,95.0,0.30,8/29/2022,United States,44.0
...,...,...,...,...,...,...,...
1920,Zoox,Transportation,100.0,0.10,4/13/2020,United States,955.0
1921,Zscaler,Security,177.0,0.03,3/2/2023,United States,148.0
1926,Zume,Food,200.0,0.67,4/15/2020,United States,423.0
1928,Zumper,Real Estate,45.0,0.15,6/16/2022,United States,178.0
1932,Zwift,Fitness,80.0,0.15,3/7/2023,United States,619.0

In [7]:
df_revenue = pd.read_csv("revenue.csv")
df_revenue

,company,industry,sector,location,founding_year,revenue_bil,market_cap_tril,stock_name,income_tax_bil,employee_size
0,Apple,Technology,Consumer Electronics,California,1976,387.53,2.520,AAPL,18.314,164000
1,Microsoft,Technology,Software Infrastructure,Washington,1975,204.09,2.037,MSFT,15.139,221000
2,Google,Technology,Software Infrastructure,California,1998,282.83,1.350,GOOG,11.356,190234
3,Amazon,Technology,Software Application,Washington,1994,513.98,1.030,AMZN,-3.217,1541000
4,NVIDIA Corporation,Technology,Semiconductors,California,1993,26.97,0.653,NVDA,0.189,22473
5,Tesla,Technology,Software Infrastructure,Texas,2003,81.46,0.625,TSLA,1.132,127855
6,Meta Platforms,Technology,Software Infrastructure,California,2004,116.60,0.524,META,5.619,86482
7,Broadcom Inc.,Technology,Semiconductors,California,1961,34.41,0.266,AVGO,0.939,20000
8,Oracle Corporation,Technology,Software Infrastructure,Texas,1977,46.07,0.236,ORCL,0.932,143000
9,Cisco Systems Inc.,Technology,Communication Equipments,California,1984,53.16,0.208,CSCO,2.665,83300
10,Salesforce Inc.,Technology,Software Application,California,1999,31.35,0.189,CRM,0.452,73541
11,Adobe Inc.,Technology,Software Infrastructure,California,1982,17.60,0.172,ADBE,1.252,29239
12,Texas Instruments Inc.,Technology,Semiconductors,Texas,1930,20.02,0.162,TXN,1.283,33000
13,Advanced Micro Devices (AMD) Inc.,Technology,Semiconductors,California,1969,23.60,0.155,AMD,-0.122,25000
14,Qualcomm Inc.,Technology,Semiconductors,California,1985,42.95,0.138,QCOM,2.012,51000
15,Netflix,Technology,Software Application,California,1997,31.61,0.136,NFLX,0.772,12800
16,Intel Corporation,Technology,Semiconductors,California,1968,63.05,0.118,INTC,-0.249,131900
17,Intuit Inc.,Technology,Software Application,California,1983,13.68,0.118,INTU,0.476,17300
18,IBM Corporation,Technology,IT Services,New York,1911,60.52,0.113,IBM,-0.626,345000
19,Applied Materials Inc.,Technology,Semiconductors,California,1967,26.25,0.102,AMAT,1.074,33000
20,Booking Holdings,Technology,Software Application,Connecticut,1996,17.09,0.097,BKNG,0.865,20700
21,Analog Devices Inc.,Technology,Semiconductors,Massachusetts,1965,12.57,0.095,ADI,0.350,24450
22,ServiceNow Inc.,Technology,Software Application,California,2004,7.24,0.090,NOW,0.074,20433
23,Automatic Data Processing,Technology,Software Application,New Jersey,1949,16.67,0.090,ADP,0.855,60000
24,PayPal Holdings Inc.,Technology,Software Infrastructure,California,1998,27.51,0.087,PYPL,0.947,29900
25,Airbnb,Technology,Software Application,California,2008,8.39,0.078,ABNB,0.096,6132
26,Fiserv Inc.,Technology,IT Services,Wisconsin,1984,17.73,0.071,FISV,0.551,44000
27,Lam Research Corporation,Technology,Semiconductors,California,1980,19.04,0.069,LRCX,0.588,18700
28,Uber Technologies Inc.,Technology,Software Application,California,2009,31.87,0.066,UBER,-0.181,32500
29,Micron Technology,Technology,Semiconductors,Idaho,1978,27.15,0.064,MU,0.888,49000
30,Equinix,Technology,IT Services,California,1998,7.26,0.064,EQIX,0.125,11451
31,Activision Blizzard,Technology,Software Application,California,2008,7.52,0.063,ATVI,0.231,13000
32,Palo Alto Networks Inc.,Technology,Software Infrastructure,California,2005,6.15,0.059,PANW,0.060,12561
33,Synopsys Inc.,Technology,Software Infrastructure,California,1986,5.17,0.057,SNPS,0.137,19000
34,Cadence Design Systems Inc.,Technology,Software Application,California,1988,3.56,0.057,CDNS,0.196,9300
35,KLA Corporation,Technology,Semiconductors,California,1997,10.48,0.053,KLAC,0.167,14000
36,Arista Networks Inc.,Technology,Computer Hardware,California,2004,4.38,0.052,ANET,0.229,2993
37,VMware Inc.,Technology,Software Infrastructure,California,1998,13.34,0.051,VMW,0.265,37500
38,Workday Inc.,Technology,Software Application,California,2005,6.21,0.049,WDAY,0.107,17522
39,Fortinet Inc.,Technology,Software Infrastructure,California,2000,4.41,0.049,FTNT,0.031,11508
40,Block Inc.,Technology,Software Infrastructure,California,2009,17.53,0.047,SQ,-0.012,8521
41,Snowflake Inc.,Technology,Software Application,Montana,2012,2.06,0.046,SNOW,0.003,4991
42,Roper Technologies,Technology,Electronic Components,Florida,1890,5.61,0.046,ROP,0.296,19300
43,Microchip Technology Inc.,Technology,Semiconductors,Arizona,1989,8.05,0.045,MCHP,0.197,21000
44,Autodesk Inc.,Technology,Software Application,California,1982,5.00,0.045,ADSK,0.068,12600
45,GlobalFoundries,Technology,Semiconductors,New York,2009,8.10,0.038,GFS,0.086,14600
46,IQVIA Holdings,Technology,Software Application,North Carolina,1982,14.41,0.037,IQV,0.260,85000
47,Marvell Technology Inc.,Technology,Semiconductors,California,1995,5.91,0.035,MRVL,0.249,6695
48,Dell Technologies Inc.,Technology,Computer Hardware,Texas,1984,102.30,0.028,DELL,0.981,133000
49,HP Inc.,Technology,Computer Hardware,California,1939,59.78,0.028,HPQ,1.238,51000

In [8]:
df_merge = df_layoffs.merge(df_revenue, on = 'company', how = 'left')
df_merge = df_merge.drop(['founding_year'], axis=1)
df_merge = df_merge.drop(['stock_name'], axis=1)
df_merge = df_merge.drop(['industry_y'], axis=1)
df_merge = df_merge.drop(['sector'], axis=1)
df_merge = df_merge.drop(['country'], axis=1)
df_merge.dropna()

,company,industry_x,total_laid_off,percentage_laid_off,date,funds_raised_mil,location,revenue_bil,market_cap_tril,income_tax_bil,employee_size
34,Airbnb,Travel,1900.0,0.25,5/5/2020,5400.0,California,8.39,0.078,0.096,6132.0
55,Amazon,Retail,10000.0,0.03,11/16/2022,108.0,Washington,513.98,1.030,-3.217,1541000.0
56,Amazon,Retail,8000.0,0.02,1/4/2023,108.0,Washington,513.98,1.030,-3.217,1541000.0
721,Google,Consumer,12000.0,0.06,1/20/2023,26.0,California,282.83,1.350,11.356,190234.0
1068,Microsoft,Other,10000.0,0.05,1/18/2023,1.0,Washington,204.09,2.037,15.139,221000.0
1128,Netflix,Media,150.0,0.01,5/17/2022,121900.0,California,31.61,0.136,0.772,12800.0
1129,Netflix,Media,300.0,0.03,6/23/2022,121900.0,California,31.61,0.136,0.772,12800.0